<!DOCTYPE html>
<html>
  <head>
    <title>Adiutor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      Adiutor
      <%= link_to 'Home', root_path %>
      <%= link_to 'Chants', chants_path %>
      <%= link_to 'Mismatches', mismatches_path %>
      <%= link_to 'Corpora', corpora_path %>
      <%= link_to 'Psalm tunes', psalm_tunes_path %>
      <%= link_to 'Overview', overview_path %>
    </nav>

    <%= yield %>
  </body>
</html>
