<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title)&.yield_self {|x| x + ' |' } %>
      Adiutor
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- for chart drawing -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      Adiutor
      <%= link_to 'Home', root_path %>
      <%= link_to 'Chants', chants_path %>
      <%= link_to 'Mismatches', mismatches_path %>
      <%= link_to 'Corpora', corpora_path %>
      <%= link_to 'Psalm tones', psalm_tunes_path %>
      <%= link_to 'Atypical responsories', resp_atyp_chants_path %>
      <%= link_to 'Overview', overview_path %>
      ::
      <% if user_signed_in? %>
        <span title="Signed in as <%= current_user.email %>"><%= current_user.email %></span>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </nav>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg.html_safe, class: "flash flash-#{name}" %>
    <% end -%>

    <%= yield %>
  </body>
</html>
